



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<form action="#" method="get">
	<input type="submit" class="btn" value="Click" name="mybtn"><br>
	Input's count: <input type="text" value="{{ data }}" name="mytextbox" size = "1" readonly>
</form>



<script>
function abc()
{
	var abc = jQuery("input").last().attr('name');
	if(abc == undefined)
	{
	abc = 'name0';
	}
	abc = abc.substring(4);
	var newElems = $("<input name='name"+(Number(abc) + 1)+"' value='name"+(Number(abc)+1)+"' readonly><br>")
	$('#container').append(newElems);
}
</script>
<br><br>
<script>
	$(function(){
	 $('#divID').load("out");
	 });
</script>
<div id = "divID"></div>
</body>
</html>